@import "reset";
@import "fonts";
@import "media";
@import "var";

/*======================
|		STYLE MAP      |
========================
1. common part
2. header
3. howItWorks SECTION
4. meetPartners SECTION
5. discoverIdias
6. FOOTER

======================*/



/*      1. common part       */
.container{
	width: 320px;
	margin: 0 auto;
}
.sectionHeader{
	font-size: 22px;
	color: $mainColor;
	font-weight: bold;
	text-align: center;
	margin: 37px 0 20px 0;
	letter-spacing: -.8px;
}





/*      2. header           */
 .header{
	width: 100%;
	background: url(../img/head..jpg);
	/*background-position: top;*/
	padding: 20px 0px 152px 0px;
	background-size: cover;
	color: #fff;
	text-align: center;
	box-sizing:border-box;

	/*top links start*/
	.logInBlock{
		margin: 0 0 117px 17px;
		text-align: left;
		a{
			color: #fff;
			font-size: 14px;
			display: inline-block;
		}
	
	}
	.logIn{
		margin: 0 17px 0 21%;
	}

	.signUp{
		border: 1px solid #fff;
		border-top: 2px solid #fff;
		border-radius: 40px;
		padding: 10px 15px;
	}
	/*top links end*/


	/*main text start*/
	.headParag{
		margin: 0 0 29px 0px;
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
	.mainHeader{
		margin: 0 0 10px 0;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: -1px;
		line-height: 36px;
	}

	.discParag{
		width: 70%;
		margin: 0 auto 27px auto;
		font-family: "RobotoLight", arial;
		font-size: 18px;
		font-weight: normal;
		line-height: 20px;
	}
	/*main text end*/


	/*button start*/
	.buttonFindHolliday{
		/*display: block;*/
		background: $tomato;
		padding: 10px 50px;
		border-radius: 30px;
		color: #fff;
		font-size: 14px;
	}
	/*button end*/

 


}


/*      3. howItWorks SECTION      */
/*      4. meetPartners SECTION         */
/*      5. discoverIdias         */
/*      6. FOOTER         */