/*@import reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

a {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*!!!!!!!!!!!!*/
body {
  font-family: 'Montserrat', 'RobotoLight', sans-serif, arial;
  font-weight: bold; }

/*@import fonts*/
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*@import media*/
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*@import var and mixin*/
/*colors*/
/*======================
|		STYLE MAP      |
========================
1. common part
2. header
3. howItWorks SECTION
4. meetPartners SECTION
5. discoverIdias
6. FOOTER

======================*/
/*      1. common part       */
.container {
  width: 320px;
  margin: 0 auto; }

.sectionHeader {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin: 37px 0 15px 0;
  letter-spacing: -.8px;
  display: inline-block;
  width: 97%; }

/*      2. header           */
.header {
  width: 100%;
  background: url(../img/head..jpg);
  /*background-position: top;*/
  padding: 20px 0px 152px 0px;
  background-size: cover;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*top links start*/
  /*top links end*/
  /*main text start*/
  /*main text end*/
  /*button start*/
  /*button end*/ }
  .header .logInBlock {
    margin: 0 0 117px 17px;
    text-align: left; }
    .header .logInBlock a {
      color: #fff;
      font-size: 14px;
      display: inline-block; }
  .header .logIn {
    margin: 0 17px 0 21%; }
  .header .signUp {
    border: 1px solid #fff;
    border-top: 2px solid #fff;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    padding: 10px 15px; }
  .header .headParag {
    margin: 0 0 29px 0px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px; }
  .header .mainHeader {
    margin: 0 0 10px 0;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 36px; }
  .header .discParag {
    width: 70%;
    margin: 0 auto 27px auto;
    font-family: "RobotoLight", arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px; }
  .header .buttonFindHolliday {
    /*display: block;*/
    background: #ff4e50;
    padding: 10px 50px;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    color: #fff;
    font-size: 14px; }

/*      3. howItWorks SECTION      */
.howItWorks {
  text-align: center; }
  .howItWorks .steps {
    display: inline-block;
    width: 94%;
    height: 240px;
    position: relative;
    text-align: left;
    margin: 0 0 5px 0;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    border: 1px solid #dadada; }
  .howItWorks .stepsWrapper {
    padding: 0 23px 20px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    bottom: 0; }
  .howItWorks .stepButton {
    display: inline-block;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    background: #ff4e50;
    margin: 0 0 15px 2px;
    padding: 5px 11px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal; }
  .howItWorks .stepsHeader {
    color: #fff;
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 29px;
    letter-spacing: -.5px; }
  .howItWorks .stepsParag {
    display: block;
    color: #ccc;
    font-family: "RobotoLight", arial;
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -.5px;
    text-align: justify; }
  .howItWorks .step1 {
    background: url(../img/step1.jpg);
    background-size: cover;
    background-position: center; }
  .howItWorks .step2 {
    background: url(../img/step2.jpg);
    background-size: cover;
    background-position: center; }
  .howItWorks .step3 {
    background: url(../img/step3.jpg);
    background-size: cover;
    background-position: center;
    margin: 0; }

/*      4. meetPartners SECTION         */
.meetPartners {
  text-align: center; }
  .meetPartners .partner {
    padding: 0 50px 27px 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
  .meetPartners .partnerPhoto {
    width: 120px;
    height: 120px;
    margin: 0 auto 22px auto;
    position: relative; }
    .meetPartners .partnerPhoto img {
      width: 100%; }
  .meetPartners .partnerIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -8px;
    right: -2px;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-size: cover;
    background-position: center; }
  .meetPartners .partnerIcon1 {
    background-image: url(../img/parthnerIcon1.png); }
  .meetPartners .partnerIcon2 {
    background-image: url(../img/parthnerIcon2.png); }
  .meetPartners .partnerIcon3 {
    background-image: url(../img/parthnerIcon3.png); }
  .meetPartners .partnerIcon4 {
    background-image: url(../img/parthnerIcon4.png); }
  .meetPartners .partnerName {
    color: #333;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0 0 15px 0; }
  .meetPartners .aboutPartner {
    font-size: 14px;
    font-family: "RobotoLight", arial;
    font-weight: lighter;
    color: #666;
    line-height: 16px; }
  .meetPartners .buttonPartners {
    display: inline-block;
    color: #ff4e50;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    border: 3px solid #ff4e50;
    padding: 10px 70px;
    font-size: 14px; }

/*      5. discoverIdias         */
/*      6. FOOTER         */
